@page "/chat"
@inject LanguageChatService languageChatService

<h1>Chat</h1>

<p>Practice conversations with AI. Type in English or Vietnamese.</p>

<div class="chat-container">
	<div class="message-list">
		@foreach (var message in messages)
		{
			<div class="message">
				<div class="@(message.IsUser ? "user-message" : "assistant-message")">
					<p class="message-body">
						@message.Text
						@if (@message.Translation != null)
						{
							<div class="translated-spoiler">@message.Translation</div>
						}
					</p>

				</div>
			</div>
		}
	</div>
	<form @onsubmit="HandleSubmit" class="input-container">
		<input @bind="userInput" placeholder="Type your message..." disabled="@isProcessing" />
		<button type="submit" class="btn btn-primary">
			@if (!isProcessing)
			{
				@("Send")
			}
			else
			{
				<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
				<span class="visually-hidden" role="status">Loading...</span>
			}
		</button>
	</form>
</div>

@code {
	private string userInput = string.Empty;
	private bool isProcessing;
	private List<Message> messages = new List<Message>();

	private async Task HandleSubmit()
	{
		if (!string.IsNullOrWhiteSpace(userInput))
		{
			isProcessing = true;

			// Add user message to the chat
			messages.Add(new Message { Text = userInput, IsUser = true });
			var lastMessage = userInput;
			userInput = string.Empty;

			var assistantResponse = await languageChatService.SendMessage(lastMessage);
			messages.Add(new Message { 
				Text = assistantResponse.AssistantResponseInVietnamese,
				Translation = assistantResponse.AssistantResponseInEnglish,
				IsUser = false 
			});

			isProcessing = false;
		}
	}

	public class Message
	{
		public string Text { get; set; } = string.Empty;
		public string? Translation { get; set; }
		public bool IsUser { get; set; }
	}
}